<!-- Panel (Banner) -->
<section class="panel banner right">
	<div class="content color0 span-3-75">
		<h1 class="major">Coding Interview Platforms</h1>
		<p>Coding interview platforms are simply websites that contain a coding exercise, a built-in text editor, and usually a code runner all on one page. Many companies find them a convenient alternative to whiteboarding, especially if they are interviewing a candidate remotely. HackerRank is one of the most popular in interviews, but there are others as well. It's good to get used to coding on these platforms so you're comfortable with them on the real interview.</p>
		<ul class="actions">
			<li><a href="#first" class="button primary color1 circle icon fa-angle-right">Next</a></li>
		</ul>
	</div>
	<div class="image filtered span-1-75" data-position="25% 25%">
		<img src="images/pic01.jpg" alt="" />
	</div>
</section>

<!-- Panel -->
<section class="panel color1" id="first">
	<div class="intro joined">
		<h2 class="major">Exercises</h2>
		<p>We've selected a number of basic algorithm exercises from several different platforms. The main goal of this section is to acclimate you to these various platforms more so than working on basic algorithms, but that's good too! It should be noted these platforms can be used to give exercises outside of plain coding, but plain coding exercises are the most common to be used in tech interviews. You'll have to sign up for a HackerRank account to access these exercises.</p>
	</div>
	<div class="inner">
		<ul class="grid-icons three connected">
			<li><span class="icon fa-paper-plane"><span class="label">Sit</span></span></li>
			<li><span class="icon fa-bar-chart"><span class="label">Amet</span></span></li>
			<li><span class="icon fa-code"><span class="label">Nullam</span></span></li>
		</ul>
	</div>
</section>

<!-- Panel -->
<section class="panel color2-alt">
	<div class="intro color2">
		<h2 class="major">HackerRank</h2>
		<p>HackerRank's built-in exercises have, in this author's opinion, a very strange and obtuse way of explaining the exercise instructions. That is, it often uses mathematical and complex language to explain exercises are actually quite easy and straightforward. Part of what you want to work on here is getting used to HackerRank's way of speaking. They also have an unusual way of writing their test code. Again, it's all a matter of getting used to.</p>
	</div>
	<div class="inner columns divided">
		<div class="span-2">
			<h3 class="major">Exercise #1: Simple Array Sum</h3>
			<p><a href="https://www.hackerrank.com/challenges/simple-array-sum/problem" target="_blank">Click here to go to the exercise.</a>To demonstrate the oddities of the HackerRank platform, watch this video where I break down this problem.</p>
		</div>
		<div class="span-2">
			<h3 class="major">Exercise #2: A Very Big Sum</h3>
			<p><a href="https://www.hackerrank.com/challenges/a-very-big-sum/problem" target="_blank">Click here to go to the exercise.</a> This one is an amazing demonstration of how strange HackerRank's exercise instructions can be. It's not you, it's them.</p>
		</div>
		<div class="span-2">
			<h3 class="major">Exercise #3: Compare The Triplets</h3>
			<p><a href="https://www.hackerrank.com/challenges/compare-the-triplets/problem" target="_blank">Click here to go to the exercise.</a> Trust me: It's easier than it looks!</p>
		</div>
		<div class="span-2">
			<h3 class="major">Exercise #4: Diagonal Difference</h3>
			<p><a href="https://www.hackerrank.com/challenges/diagonal-difference/problem" target="_blank">Click here to go to the exercise.</a></p>
		</div>
		<div class="span-2">
			<h3 class="major">Exercise #5: Staircase</h3>
			<p><a href="https://www.hackerrank.com/challenges/staircase/problem" target="_blank">Click here to go to the exercise.</a></p>
		</div>
		<div class="span-2">
			<h3 class="major">Even more!</h3>
			<p><a href="https://www.hackerrank.com/domains/algorithms" target="_blank">Click here to see HackerRank's other algorithm exercises.</a></p>
		</div>
	</div>
</section>

<!-- Panel -->
<section class="panel color4-alt">
	<div class="intro color4">
		<h2 class="major">LeetCode</h2>
		<p>The truth is, once you're comforable with HackerRank, you should be good to go with virtually every other tech interviewing platform. It's worth also introducing you to LeetCode, though, since they have a nice database of interesting exercises. And it's good to see how different platforms are slightly different from each other. You'll have to sign up for a LeetCode account to access these exercises.</p>
	</div>
	<div class="inner columns divided">
		<div class="span-2">
			<h3 class="major">Exercise #1: Plus One</h3>
			<p><a href="https://leetcode.com/explore/interview/card/top-interview-questions-easy/92/array/559/" target="_blank">Click here to go to the exercise.</a></p>
		</div>
		<div class="span-2">
			<h3 class="major">Exercise #2: Rotate Array</h3>
			<p><a href="https://leetcode.com/explore/interview/card/top-interview-questions-easy/92/array/646/" target="_blank">Click here to go to the exercise.</a></p>
		</div>
		<div class="span-2">
			<h3 class="major">Exercise #3: Rotate Image</h3>
			<p><a href="https://leetcode.com/explore/interview/card/top-interview-questions-easy/92/array/646/" target="_blank">Click here to go to the exercise.</a></p>
		</div>
		<div class="span-2">
			<h3 class="major">LeetCode's Top Interview Question</h3>
			<p><a href="https://leetcode.com/explore/interview/card/top-interview-questions-easy/" target="_blank">Click here to go see LeetCode's curated list of top interview questions.</a> They actually divide this into three sections: Easy, Medium, and Hard. The truth is that some of their "Easy" questions aren't easy at all, and if you mastered them all, you'd cover most of what you'd encounter in a standard developer interview. Questions from their Medium and Hard sections are generally more appropriate for interviews beyond entry-level positions. But feel free to dig into those as well!</p>
		</div>
	</div>
</section>

<!-- Copyright -->
<div class="copyright">&copy; Design: <a href="https://html5up.net">HTML5 UP</a>.</div>