<!-- Panel (Banner) -->
<section class="panel banner right">
	<div class="content color0 span-3-75">
		<h1 class="major">Exercism</h1>
		<p><a href="https://exercism.io/" target="_blank">Exercism</a> is a great open-source tool that allows you to practice algorithms, unit-testing, and object-oriented programming all at once! It is <em>also</em> used in technical interviews. But even if it weren't, it's the perfect tool for practicing many different important areas of coding at the same time.</p>
		<ul class="actions">
			<li><a href="/" class="button primary">Back</a></li>
			<!-- <li><a href="#first" class="button primary color1 circle icon fa-angle-right">Next</a></li> -->
		</ul>
	</div>
</section>

<!-- Panel -->
<section class="panel color2" id="first">
	<div class="intro ">
		<h2 class="major">Setting Things Up</h2>
		<p>Sign up for <a href="https://exercism.io/" target="_blank">Exercism</a> on their website, and select the programming language track of your choice. For each track, you can select either Independent Mode, or Mentor Mode. For now, select Independent Mode, as that gives you access to <em>all</em> the exercises.</p>
	</div>
</section>

<!-- Panel -->
<section class="panel color3" id="first">
	<div class="intro joined">
		<h2 class="major">Quickstart</h2>
		<p>Once you've downloaded and installed everything onto your computer, watch this video for a useful quickstart guide.</p>
	</div>
	<div class="inner">
		<iframe src="https://player.vimeo.com/video/304433901" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
</section>

<!-- Panel -->
<section class="panel color1" id="first">
	<div class="intro joined">
		<h2 class="major">Exercises</h2>
		<p>You can certainly work on any exercise you'd like, but to get you started, we've selected specific exercises to start that we feel will help you get in the swing of things.</p>
	</div>
	<div class="inner">
		<ul class="grid-icons three connected">
			<li><span class="icon fa-paper-plane"><span class="label">Sit</span></span></li>
			<li><span class="icon fa-bar-chart"><span class="label">Amet</span></span></li>
			<li><span class="icon fa-code"><span class="label">Nullam</span></span></li>
		</ul>
	</div>
</section>

<!-- Panel -->
<section class="panel color2-alt">
	<div class="intro color2">
		<h2 class="major">Ruby</h2>
		<p>We're going to start with some of the exercises from the Ruby track. Look for each individual exercise on the Exercism website.</p>
	</div>
	<div class="inner columns divided">
		<div class="span-2">
			<h3 class="major">Exercise #1: Hello World</h3>
			<p>This exercise is just to help you get used to Exercism. You'll learn how to write code to get the automated tests to pass and how to submit your solution.</p>
		</div>
		<div class="span-2">
			<h3 class="major">Exercise #2: Raindrops</h3>
			<p>This exercise may seem like another you may have seen before...</p>
		</div>
		<div class="span-2">
			<h3 class="major">Exercise #3: Beer Song</h3>
			<p>This exercise involves some logic, but the trickiest part is actually the text wrangling.</p>
		</div>
		<div class="span-2">
			<h3 class="major">Exercise #4: Leap</h3>
			<p>The good ol' leap year calculator!</p>
		</div>
		<div class="span-2">
			<h3 class="major">Exercise #5: Hamming</h3>
			<p>You'll have to develop a fun little algorithm for this one.</p>
		</div>
		<div class="span-2">
			<h3 class="major">Exercise #6: Etl</h3>
			<p>This exercise is a great refresher on maniuplating data structures like arrays and hashes.</p>
		</div>
		<div class="span-2">
			<h3 class="major">Exercise #7: Grade School</h3>
			<p>This exercise is heavy on OOP, so is a perfect refresher if you want to brush up on that area.</p>
		</div>
	</div>
</section>

<!-- Panel -->
<section class="panel color4-alt">
	<div class="intro color4">
		<h2 class="major">JavaScript</h2>
		<p>Now that you have the hang of Exercism, it's good to try it out on a second programming language as well. Join the JavaScript track to access these exercises. There's plenty of repeats from the Ruby track, but there are some exercises unique to the JavaScript track as well.</p>
	</div>
	<div class="inner columns divided">
		<div class="span-2">
			<h3 class="major">Exercise #1: Hello World</h3>
			<p>This will get you used to working with the JavaScript track.</p>
		</div>
		<div class="span-2">
			<h3 class="major">Exercise #2: Two Fer</h3>
			<p>This one is easy, and helps ease you more into working with the JavaScript exercises.</p>
		</div>
		<div class="span-2">
			<h3 class="major">Exercise #3: Darts</h3>
			<p>If you love darts, you'll love this exercise. If you love circles, you'll love this exercise. If you love programming, you'll love this exercise. If you love all three, then you should marry this exercise.</p>
		</div>
		<div class="span-2">
			<h3 class="major">Exercise #4: Grade School</h3>
			<p>You may have already done this exercise in the Ruby track, but it's great for your JavaScript chops to convert your existing solution to JavaScript code.</p>
		</div>
	</div>
</section>

<!-- Copyright -->
<div class="copyright">&copy; Design: <a href="https://html5up.net">HTML5 UP</a>.</div>