<!-- Panel (Banner) -->
<section class="panel banner right">
	<div class="content color0 span-3-75">
		<h1 class="major">Tech Interview Prep</h1>
		<p>This is a tool built by <a href="http://anyonecanlearntocode.com" target="_blank"><strong>Actualize</strong></a> to help you prepare for technical exercises you may encounter during your software engineering interviews.</p>
		<ul class="actions">
			<li><a href="#first" class="button primary color1 circle icon fa-angle-right">Next</a></li>
		</ul>
	</div>
<!-- 	<div class="image filtered span-1-75" data-position="25% 25%">
		<img src="images/pic01.jpg" alt="" />
	</div> -->
</section>


<!-- Panel (Spotlight) -->
	<section class="panel spotlight medium right" id="first">
		<div class="content span-7">
			<h2 class="major">Welcome!</h2>
			<p>You can increase your skills and confidence when it comes to tech interviewing. The first key is to recognize that being good at tech interviews is a <strong>skill that comes with practice and experience</strong>. This tool contains plenty of exercises to give you the practice you need.</p>
		</div>
		<div class="image filtered tinted" data-position="top left">
			<img src="images/pic02.jpg" alt="" />
		</div>
	</section>


<!-- Panel -->
<section class="panel color1" id="second">
	<div class="intro joined">
		<h2 class="major">Interview Styles</h2>
		<p>Tech interviews come in many different styles. While there are no interviewing standards, and an interiewer can throw virtually anything at you, there are a limited number of interview styles that are most common, and we will focus on those.</p>
	</div>
	<div class="inner">
		<ul class="grid-icons three connected">
			<li><span class="icon fa-cog"><span class="label">Lorem</span></span></li>
			<li><span class="icon fa-code"><span class="label">Ipsum</span></span></li>
			<li><span class="icon fa-laptop"><span class="label">Dolor</span></span></li>
<!-- 			<li><span class="icon fa-paper-plane"><span class="label">Sit</span></span></li>
			<li><span class="icon fa-bar-chart"><span class="label">Amet</span></span></li>
			<li><span class="icon fa-code"><span class="label">Nullam</span></span></li>
 -->		</ul>
	</div>
</section>

<!-- Panel -->
<section class="panel">
	<div class="intro color2">
		<h2 class="major">Categories</h2>
		<p>Click on any of the following tech interview categories to explore it further. You can work through the categories in order, or you can skip to a category that you'd like to work on.</p>
	</div>
</section>

<!-- Panel -->
	<section class="panel">
		<div class="intro color3">
			<h2 class="major">Basic Algorithms</h2>
			<p>Basic algorithms are very common in tech interviews. Whether presented as a whiteboarding exercise or to be implemented in an interviewing platform like HackerRank, basic algorithms appear everywhere.</p>
			<a href="/basic-algorithms" class="button primary icon fa-gear">Explore</a>
		</div>
	</section>

<!-- Panel -->
<!-- <a href="/whiteboarding">
	<section class="panel">
		<div class="intro color4">
			<h2 class="major">Whiteboarding</h2>
			<p>Click on any tech interview category to explore it further.</p>
		</div>
	</section>
</a> -->

<!-- Panel -->
	<section class="panel">
		<div class="intro color4">
			<h2 class="major">Exercism</h2>
			<p>Exercism is a great tool for practicing algorithms, unit testing, and OOP all in one - and it's also popular in tech interviews. It's one of our most recommended resources for keeping your coding skills sharp.</p>
			<a href="/exercism" class="button primary icon fa-code">Explore</a>
		</div>
	</section>

<!-- Panel -->
	<section class="panel">
		<div class="intro color2">
			<h2 class="major">Coding Platforms</h2>
			<p>Online coding platforms like HackerRank and LeetCode are common in tech interviews. It's good to get used to the various platforms so you're comfortable in the real interview.</p>
			<a href="/coding-interview-platforms" class="button primary icon fa-laptop">Explore</a>
		</div>
	</section>

<!-- Panel -->
<!-- <a href="/architecture">
	<section class="panel">
		<div class="intro color3">
			<h2 class="major">Architecture</h2>
			<p>Sometimes, a tech interview may have components that ask you to design a database for a particular application. This doesn't involve raw coding, but the interviewer will still be looking for specific things. Find out what they are in this section!</p>
		</div>
	</section>
</a> -->

<!-- Panel -->
<!-- <a href="/homework">
	<section class="panel">
		<div class="intro color3">
			<h2 class="major">Homework</h2>
			<p>Take-home assignments are often used as the first step of the interviewing process as an initial screen. Homework assignments can involve all sorts of exercises, but no matter what it is, there are some general tips that you should know.</p>
		</div>
	</section>
</a> -->

<!-- Panel -->
<!-- <a href="/algorithm-optimization">
	<section class="panel">
		<div class="intro color3">
			<h2 class="major">Algorithm Optimization</h2>
			<p>In more advanced interviews, you may be asked to evaluate the efficiency of an algorithm that you wrote. Here you'll learn about time and space complexity, as well as Big O Notation.</p>
		</div>
	</section>
</a>
 -->
<!-- Panel -->
<!-- <a href="/data-structures">
	<section class="panel">
		<div class="intro color3">
			<h2 class="major">Data Structures</h2>
			<p>Some interviews may ask you to deal with specific data structues such as linked lists, trees, and graphs. Learn more about them here.</p>
		</div>
	</section>
</a> -->

<!-- Copyright -->
<div class="copyright">&copy; Design: <a href="https://html5up.net">HTML5 UP</a>.</div>